*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}
body,html{
    width: 100%;
    height: 100%;
}
.grand-parent{
    width:100%;
    height: 100%;
    background-color: black;
    padding: 3rem;
}
.parent{
    width:100%;
    height: 90%;
    background-color: green;
    padding: 3rem;
    margin: 1rem;
}

.child{
    width:100%;
    margin: 1rem;
    height: 20%;
    background-color: yellow;
    color: red;
    padding: 3rem;
}

