*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;


}

body,html{
    width: 100%;
    height: 100%;
}

section{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.7rem;
}

section h1{
    
    background-color:rgb(255, 216, 158);
    font-size: 32px;
    font-weight: bolder;
    margin-top: 3rem;
    padding: 1rem 2.5rem;
    border-radius: 5px;
    border: 1px solid gray;

}


section div button,section div #input{
    padding: 0.8rem 2rem;
    border-radius: 5px;
    border: 1px solid gray;

margin-left: 0.5rem;
}

section div #input{
    background-color: white;
    border: 1px solid;
    padding: 0.8rem 0.6rem;

    width: 20rem;
}

section p{
background-color: rgb(244, 174, 174);
padding: 0.8rem 6rem;
    border-radius: 5px;
    border: 1px solid gray;

}

@media (max-width:635px) {


section{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 2px;
}

section h1{
    font-size: 24px;
}


section div button,section div #input{
    padding: 0.5rem 0.8rem;

font-size: 12px;
}
section div{
    display: flex;
}

section div #input{
    padding: 0.6rem;
font-size: 11px;
    width: 7rem;
}

section p{
padding: 0.7rem 3.5rem;

}

}

