*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    width: 100%;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 25rem;
    background-color: #222222;
    padding: 1.5rem;
margin:50px  auto;
border-radius: 10px ;

}


.display{
    width: 100%;
    border: none;
    border-radius: 5px ;
    margin: 1rem auto;
    height: 4rem;
    font-size: 23px;
    background-color: #111111;
    color: #02FF00;
padding: 10px 15px;
display: flex;
justify-content: end;
align-items: end;
}
.button_container{
    user-select: none;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(4,1fr);
}

button{
    border-radius: 10px ;
background-color: #333333;
border: none;
text-align: center;
font-size: 16px;
padding: 1.5rem;
color: white;
cursor: pointer;
}

h1{
    text-align: center;
    width: 100%;
    margin: 20px auto;
}
button:hover{
    background-color: #444444;
    transition: all ease 1s;
}

.button_container .clear{
    grid-column:1/4;
    background-color: #DC3545;
}

.button_container .clear:hover{
    background-color: #ff0019;
    transition: all ease 1s;
    
}

.button_container .operator{
    background-color:  #df942b;
    font-size: 18px;
}

.button_container .operator:hover{
    background-color:  #FF9500;
    transition: all ease 1s;
}




.button_container .equal{
    grid-column: 3/5;
    background-color: #1E90FF;
}

.button_container .equal:hover{
    background-color: #0180ff;
    transition: all ease 1s;
}

