*{padding: 0;
margin: 0;
box-sizing: border-box;}

html,body{
    width: 100%;
    height: 100%;
}

.container{
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
gap: 1rem;
}

.box{
    width: 10rem;
    height: 10rem;
    font-size: 24px;
    background-color: aqua;
    border-radius:50% ;
    text-align: center;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
