*{padding: 0;
margin: 0;
box-sizing: border-box;}


html,body{
    width: 100%;
    height: 100%;
}


button{
    padding: 2rem;
    margin: 10px;
    background: wheat;
    border-radius: 10px;
    border: none;
}

.modelContainer{
    width: 100%;
    height: 100%;
    background-color: aqua;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.modelContent{
    background-color: white;
    padding: 25px 40px;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 25px;

}