*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body,html{
    width: 100%;
    background-color: #F0F0F0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.container{
    width: 100%;
    max-width: 35rem;
    background-color: white;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.5rem ;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.445);
    border-radius: 5px;
    
}

.heading{
 font-size: 2.5rem;   
    padding:10px;
}

#searchInput{
    width: 100%;
    padding: 12px 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.339);
}

.userContainer{
    width: 100%;
padding: 15px 0px ;
}

.userContainer .userItem{
    display: flex;
    justify-content: flex-start;
    background-color: #f7f3f3e7;
    height: 5rem;
    margin: 10px auto;
    padding: 10px;
gap: 1rem;
align-items: center;

}
.userContainer .userItem1{
    margin-top: 0.5rem;
    border-radius: 5px;
}
.userContainer .userItem div{
    height: 100%;
}

.userContainer .userItem div img{
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;
    border-radius: 90%;
} 

.userContainer .userItem .userDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

p{
    color: rgba(163, 162, 162, 0.858);
}

.userContainer .userItem:hover{
    background-color: white;
transition: ease-in-out all 2s;
}