* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  width: 100%;

  background-color: #f7dcab;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.container {
  width: 45rem;
  background-color: #221b1a;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem auto;
  border-radius: 5px;
  padding: 2rem;
}

.container h2 {
  padding: 1rem;
  font-size: 32px;
}

.container .inputContainer {
  width: 41rem;
  height: 3rem;
  display: flex;
  gap: 0.7rem;
}

.container .inputContainer #input {
  width: 80%;
  border-radius: 5px;
  border: none;
  padding: 0.8rem;
}

.container .inputContainer .addBtn {
  width: 20%;
  border-radius: 5px;
  background-color: #c7223e;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;

}
.container .inputContainer .addBtn:hover {
  background-color: #221b1a;

  border: 1px solid white;
  transition: all ease 1s;
}

.container .taskContainer {
  width: 100%;
  margin: 1rem auto;
}

.container .taskContainer .box {
  background-color: #221b1a;
  display: flex;
  justify-content: space-between;
  border: 1px solid;
  margin-bottom: 0.5rem;
  padding: 0.8rem;
  border-radius: 5px;
}

.container .taskContainer .box .delete {
  color: #c7223e;
  background-color: #221b1a;
  border: none;
  cursor: pointer;
}
